body {
    min-width: 334px;
}

.cursor-pointer {
    cursor: pointer;
}

canvas {
    height: 100%;
    width: 100%;
    border: 1px dashed black;
}

/* @media screen and (min-width: 992px) {

    canvas {
        height: calc(100vh - 118px);
        width: 100%;
        object-fit: contain;
    }
}

@media screen and (max-width: 992px) {

    side {
        height: 200px;
    }

    canvas {
        height: calc(100vh - 318px);
        width: 100%;
        object-fit: contain;
    }
} */