body {
    min-width: 334px;
}

.cursor-pointer {
    cursor: pointer;
}

@media screen and (min-width: 992px) {

    canvas {
        height: calc(100vh - 126px);
        width: 100%;
        object-fit: contain;
    }
}

@media screen and (max-width: 992px) {

    side {
        height: 200px;
    }

    canvas {
        height: calc(100vh - 326px);
        width: 100%;
        object-fit: contain;
    }
}